body{
    margin: 0;
    padding: 0;
}


.txt20{
    font-size: 20px;
}


.bold{font-weight: bold;} /*pour mettre en gras*/

.txt-center{
    text-align: center; /*centrer le txt*/
}


.center{
    margin: auto;
}

.margin{
    margin: 20px 0 0;
}

/******size******/
.w100{
    width: 100%;
    height: 163px;
}

.w600{
    width: 600px;
    
}

.w50{
    width: 30px;
}

.w90{
    width: 90px;
}

.w60{
    width: 60px;
    height: auto;
}

/*****color***/

.green{
    background-color: #445c00;
}

.vert{
    background-color: #87a62c;
}

.bggreennc{
    background-color: #dadecc
}


.pgreen{
color: #445c00;
}

.white{
    color: #fff;
}

.txtb{
    color: rgb(255, 255, 255);
}




/*********TAB1**********/


.tab1{
    vertical-align: middle;
}

.actualite{
    margin: 10px 0 0 0;
    background-color: yellow;
    width: 260px;
}

.mardi{
    margin: 15px 0 10px 0;
}

.skier {
    width: 100%;
    margin: 0;
}

.headband{
    height: 50px;
    margin: 0;
    padding: 25px 0 10px 20px;

}

/******TAB2**********/

.margintop{
    margin-top: 30px;
}

.spaced{
    width: 20px;
}

.tab2 td {
    vertical-align: middle;
}

.run{
    margin: 0;
}


.grey{
    color: rgb(165, 165, 165);
}


.marginoff{
    margin: 0;
    padding: 0;
}

/******TAB 3 résultats*******/

.center-content {
    text-align: center;
    vertical-align: middle;
}/**sert à centré **/

.aligner-h3 {
    display: flex;
    align-items: center;
    justify-content: center; 
}  /* Permet à img et h3 d'être sur la même ligne */

.aligner {
    display: flex;
    align-items: center;
}  /* Permet au txt et au chevron et justifier à gauche d'être sur la même ligne */



.justified-text {
    text-align: justify;
}

  /*****button****/
  button{
    width: 250px;
    height: 50px;
    font-size: 15px;
    border-radius: 50px;
    color: #445c00;
    background-color:  #dadecc; 
  }


  /***** tab4 conseil****/
  .aligner {
    display: flex;
 
}  /* Permet à img et h3 d'être sur la même ligne */


.spaced2{
    width: 50px;
}

.no-marge{
    margin: 0;
}

/****tab 5 les plans d'entrainement*****/

.tab5-marg{
    padding: 10px 0 0 20px;
}

.tab5-button{
    width: 350px;
    height: 60px;
    font-size: 18px;
}


/****TAB6*****/

.aligner-h3 h3{
    color: #87a62c;
}

/***last tab**/


.flex{
    flex-direction: row;
    flex-wrap: wrap;
}

.txt-center p {
    display: inline-block;
    
}

.txt-center p {
    text-align: justify;
}
/* 
  @media screen and (max-width: 600px) {

    section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
    
    }
    
    .logo, .logo.skieur {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px; /* Add some spacing between elements */
    /* }
    
    .actualite {
        margin: 0;
        text-align: left; /* Align text to the left */
        /* width: 80%; /* Adjust the width as needed */
        /* margin: 0 auto; /* Center the text horizontally */
    /* }
} */ 